:root {
  --branding-color: #4cafbf;
  --secondary-color: #e05c47;
  --tertiary-color: #8dc09f;
  --highlight-color: #94cad2;
  --heading-font-family: "Annie Use Your Telescope", cursive;
  --default-font-family: "Tauri", sans-serif;
}

body {
  background: white;
  margin-top: 120px;
  margin-bottom: 130px;
}

nav .active {
  color: var(--secondary-color) !important;
}

footer {
  background: white;
}

footer p {
  color: black;
  font-size: 14px;
  margin-top: -50px;
  margin-right: 20px;
  text-align: right;
}

footer .social-links a {
  margin: 5px 20px 25px 20px;
  color: black;
  background-color: var(--highlight-color);
  padding: 8px 12px;
  font-size: 15px;
  border-radius: 50%;
}

footer .social-links a:hover {
  color: white;
  background-color: black;
  transition: all 100ms ease-in-out;
}

h1 {
  color: var(--tertiary-color);
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h2 {
  color: var(--branding-color);
  font-family: var(--heading-font-family);
  font-weight: bold;
  opacity: 0.9;
  font-size: 28px;
  line-height: 1.5;
}

h3 {
  font-family: var(--heading-font-family);
  opacity: 0.8;
}

p {
  font-family: var(--default-font-family);
  color: black;
  font-size: 22px;
  opacity: 0.7;
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}

a:hover {
  color: var(--branding-color);
}

.btn-branding {
  background: var(--highlight-color);
  border-radius: 4px;
  border: groove;
  color: white;
  font-size: 16px;
  font-family: var(--default-font-family);
  box-shadow: 8px 4px 4px lightgrey;
  opacity: 0.8;
}

.btn-branding:hover {
  color: black;
}

.hero-container {
  max-width: 100%;
  display: block;
  padding: 15px;
  text-align: center;
  margin-top: -20px;
}

.hero-container .heroimage-small {
  width: 100%;
}

.hero p {
  margin: 0;
  opacity: 0.8;
}

.hero-2 p {
  color: black;
  opacity: 0.7;
  font-size: 18px;
  line-height: 1.6;
}

.about-container {
  text-align: center;
  margin: 100px 0 0 30px;
}

.about-container .profilepicture-small {
  width: 80%;
}

.about-container ul {
  list-style-type: none;
  font-family: var(--default-font-family);
  color: black;
  opacity: 0.7;
  font-size: 20px;
  margin: 20px auto;
  line-height: 2;
  text-align: left;
}

.about-container .about-me i {
  color: var(--tertiary-color);
}

.technologies-container .icon {
  font-size: 60px;
  color: var(--highlight-color);
}

.technologies-container h2 {
  font-size: 30px;
}

.technologies-container p {
  font-size: 16px;
}

.portfolio-container {
  margin: 110px;
}

.portfolio-container h1 {
  font-size: 32px;
}

.portfolio-container h2 {
  font-size: 42px;
}

.portfolio-container .app-description {
  margin: 35px;
}

.portfolio-container p {
  text-align: justify;
  color: black;
  opacity: 0.7;
  font-size: 16px;
  line-height: 2;
}

.portfolio-container img {
  border: 2px solid;
  border-color: var(--tertiary-color);
  border-radius: 25px;
  padding: 40px 120px;
  display: block;
  margin: 0 auto;
  opacity: 0.8;
}

.portfolio-container .weather-app {
  max-width: 100%;
}

.portfolio-container .dictionary-app {
  max-width: 100%;
}

.codingjourney-container {
  max-width: 100%;
  background: #eeeeee;
  padding: 50px;
  text-align: justify;
}

.codingjourney-description {
  padding: 0 150px;
}

.codingjourney-container p {
  text-align: left;
  color: black;
  opacity: 0.7;
  font-size: 16px;
  line-height: 2;
}

.blog-container {
  margin: 0 30px;
  text-align: justify;
}

.blog-container h1 {
  font-size: 28px;
  opacity: 0.7;
  text-align: center;
}

.blog-container p {
  color: black;
  opacity: 0.7;
  font-size: 18px;
  line-height: 1.6;
  padding: 10px;
}

.blog-container .blogimage {
  max-width: 45%;
  display: block;
  margin: 0 auto;
  opacity: 0.9;
}

.contact-container {
  margin: 160px 0;
  text-align: center;
}

.contact-container h1 {
  font-size: 32px;
}

.contact-container h3 {
  font-size: 26px;
  line-height: 2;
}

.contact-container p {
  font-size: 18px;
}

.logoimage {
  max-width: 80px;
  margin-top: 10px;
}

.heroimage {
  display: block;
  max-width: 75%;
  margin-left: 120px;
}

.profilepicture {
  max-width: 125%;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
}

@media (max-width: 960px) {
  .hero h1 {
    font-size: 28px;
  }

  .hero h2 {
    font-size: 22px;
  }

  .about-container {
    margin: 90px 20px;
  }

  .about-container p {
    text-align: justify;
  }

  .about-container li {
    font-size: 16px;
    line-height: 2.5;
    text-align: center;
  }

  .technologies-container .icon {
    font-size: 28px;
  }

  .technologies-container p {
    text-align: center;
    font-size: 12px;
  }

  .portfolio-container {
    margin: 90px 0;
  }

  .portfolio-container h1 {
    text-align: center;
    font-size: 26px;
  }

  .portfolio-container h2 {
    font-size: 28px;
  }

  .portfolio-container p {
    text-align: justify;
  }

  .codingjourney-description {
    padding: 0;
  }

  .codingjourney-container h3 {
    font-size: 20px;
    text-align: center;
  }

  .codingjourney-container p {
    text-align: justify;
  }

  .blog-container {
    margin: 90px 20px;
    text-align: justify;
  }

  .blog-container h1 {
    font-size: 24px;
    line-height: 1.5;
  }

  .blog-container p {
    text-align: justify;
  }

  .blog-container .blogimage {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }

  footer p {
    color: black;
    font-size: 14px;
    text-align: center;
    margin: 0 0 10px 0;
  }
}
